

body {
    background-image: url("http://wallpapercave.com/wp/ZxDLdnq.jpg");
font-family: Comic Sans MS;margin: 0;
}
p {
    color: white;
font-family: verdana;
    font-size: 20px;
}

h1 {
    color: white;
    text-align: center;
font-size:55px
}

